span#basic-addon1 {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

#count {
    display: inline;
    margin: 0px 0 0 3px;
    width: 40px;
    background: green;
    padding: 2px 4px;
    color: white;
    font-weight: bold;
    height: 40px;
    border-radius: 50%;
}

div#table {
    display: block;
    width: 100%;
    float: left;
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item {
    margin: 5px 0px;
}

.list-group-item:first-child {
    margin-top: 0px !important;
}

i.fa.fa-trash {
    float: right;
    color: red;
}


.show{display: block !important;}
.hide{display: none !important;}